<%= form_for @survey, @survey.question do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <%= f.fields_for :questions do |builder| %>
    <%= render "question_fields", f: builder %>
  <% end %>
  <p> <%= f.submit "Submit" %> </p>
<% end %>
